/*p{
	color: red;
	font-size: 35px;
}*/

.text{
	color: green;
	font-size: 25px;
	border: 2px solid red;
	margin: 20px 20px 30px 30px;
	/*margin-top: 20px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 30px;*/
	padding: 20px 30px 50px 60px;
	/*text-align: center;*/
}
.text2{
	color: blue;
	border: 2px solid green;
	margin-top: 50px;
	/*padding-left: 30px;*/
	display: inline-block;
	font-family: 'ALK Life', sans-serif;

}


.bg1{
	background-color: yellow;
}

.bg2{
	background-color: red;
}

.img{
	width: 100%;
}
a{
	text-decoration: none!important;
}
.test{
	display:inline-block;
}
.image{
	height: 80px;

}
/*.navigation-li{
	display: inline-block;
}*/
/*#sport{
	background: aqua;*/
/*}*/
/*.image{
	width: 800px;*/
/*}*/
/*.container{
	background-color: red;*/ 
/*}*/
/*.container-fluid{
	background-color: green;
}*/